<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- fontawesome ICON -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/coding.css">

    <title>게시판</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:3000">붕붕이</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:3000">소개
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">개발자</a>
                    </li>
                    <li class=" nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">컨텐츠
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="nav-link" href="#">위치</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">리뷰</a>
                            </li>
                            <li>
                                <a class="nav-link active" href="/board/1">문의</a>
                            </li>
                        </ul>
                    </li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="내용을 입력하세요" aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">검색</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdownLogin" role="button" aria-haspopup="true"
                            aria-expanded="false">접속하기
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogin">
                            <li>
                                <a class="nav-link disabled" href="#">로그인</a>
                            </li>
                            <li>
                                <a class="nav-link disabled" href="#">회원가입</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--컨텐츠 영역-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card my-2">
                    <div class="card-header  bg-secondary">
                        <div class="card-title">
                            <h4>
                                <i class="fas fa-clipboard-list"></i>&nbsp;&nbsp;게시판</h4>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <table class="table table-hover my-2">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="width: 10%;" class="text-left">No.</th>
                                    <th style="width: 40%;">제목</th>
                                    <th style="width: 30%;">작성자</th>
                                    <th>작성일</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <% var i = 8*(page-1) + 1; %>
                                    <% for(var key in data) {%>
                                        <% if(key == 7 || key == count-8*(page-1) -1 ){ %>
                                        <tr style="border-bottom: 1px double darkgray">
                                        <% } else { %>
                                        <tr>
                                        <% } %>
                                            <td scope="row" class="text-left">
                                                <%= i%>.</td>
                                            <td>
                                                <a style="color: black" href="/board/<%=page%>/<%=data[key].boardID%>">
                                                    <%= data[key].title %>
                                                </a>
                                            </td>
                                            <td>
                                                <%= data[key].name %>
                                            </td>
                                            <td>
                                                <%= data[key].createdate %>
                                            </td>
                                        </tr>
                                    <% i++ }%>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation" class="d-flex justify-content-between" style="height: 38px;">
                            <div style="width: 86.17px"></div>
                            <ul class="pagination ">
                                <li class="page-item">
                                    <a class="page-link" href="/board/1" style="color: black;" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <% var endPoint = 0; %>
                                <% if(parseInt(count/8) < count/8) { %>
                                <%  endPoint = parseInt(count/8) + 1; %>
                                <% } else { %>
                                <%  endPoint = count/8; %>
                                <% } %>
                                <% for(var i=0; i < endPoint; i++) {%>
                                <% if(i == page-1) { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href="/board/<%=i+1%>" style="color: black; background-color: gray;"><%= i+1 %></a>
                                </li>
                                <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/board/<%=i+1%>" style="color: black;"><%= i+1 %></a>
                                </li>
                                <% } %>
                                <% } %>
                                <li class="page-item">
                                    <a class="page-link" href="/board/<%=endPoint%>" style="color: black;" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                            <div>
                                <a class="btn btn-outline-info ml" href="/create">작성하기</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer 영역-->
    <footer class="container-fluid" style="background-color: #f8f9fa">
        <br>
        <div class="row">
            <div class="col-lg-3" style="text-align: center">
                <h6>Copyright &copy; 2018</h6>
                <h6>송윤재 (Yoonjae Song)</h6>
            </div>
            <div class="col-lg-4">
                <h5>대표자 소개</h5>
                <p>아직 할줄 아는 것은 없습니다. 일단 Bootstrap으로 게시판을 만들어 푸드트럭관련된 프로젝트를 하나 만들려고 합니다.</p>
            </div>
            <div class="col-lg-2">
                <h6 style="text-align: center">SNS</h6>
                <div class="list-group">
                    <a href="https://www.facebook.com/" class="list-group-item">
                        <i class="fab fa-facebook"></i>&nbsp;&nbsp;facebook</a>
                    <a href="#" class="list-group-item">
                        <i class="fab fa-instagram"></i>&nbsp;&nbsp;Instargram</a>
                    <a href="#" class="list-group-item">
                        <i class="fab fa-twitter-square"></i>&nbsp;&nbsp;twitter</a>
                </div>
            </div>
            <div class="col-lg-2">
                <h5 style="text-align: center">
                    <span class="glyphicon glyphicon-ok"></span>chowHR1231</h5>
            </div>
        </div>
        <br>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>